<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${supplierlist.id}"></td>
                    <th>Suppliers Name</th>
                    <td th:text="${supplierlist.suppliersname}"></td>
                </tr>
                <tr>
                    <th>Supplier Address</th>
                    <td th:text="${supplierlist.supplieraddress}"></td>
                    <th>Supplier Website</th>
                    <td th:text="${supplierlist.supplierwebsite}"></td>
                </tr>
                <tr>
                    <th>Contact Name</th>
                    <td th:text="${supplierlist.contactname}"></td>
                    <th>Contact Title</th>
                    <td th:text="${supplierlist.contacttitle}"></td>
                </tr>
                <tr>
                    <th>Contact phone</th>
                    <td th:text="${supplierlist.contactphone}"></td>
                    <th>Contact email</th>
                    <td th:text="${supplierlist.contactemail}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${supplierlist.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${supplierlist.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(supplierlist.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(supplierlist.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>Remark</th>
                    <td th:text="${supplierlist.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>