<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> Equm总库存管理</span>
        <a th:href="@{/equm/inventorys/export}"><i class="fa fa-download"></i></a>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block timo-search-status">
                        <select class="timo-search-select" name="status" mo:dict="SEARCH_STATUS"
                                mo-selected="${param.status}"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">week</label>
                    <div class="layui-input-block">
                        <input type="text" name="week" th:value="${param.week}" placeholder="请输入week" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">ReceivedDate</label>
                    <div class="layui-input-block">
                        <input type="text" name="ReceivedDate" th:value="${param.received_date}"
                               placeholder="请输入ReceivedDate" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">type</label>
                    <div class="layui-input-block">
                        <input type="text" name="type" th:value="${param.type}" placeholder="请输入type" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">unitid</label>
                    <div class="layui-input-block">
                        <input type="text" name="unitid" th:value="${param.unitid}" placeholder="请输入unitid"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">builtdate</label>
                    <div class="layui-input-block">
                        <input type="text" name="builtdate" th:value="${param.builtdate}" placeholder="请输入builtdate"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">machinery</label>
                    <div class="layui-input-block">
                        <input type="text" name="machinery" th:value="${param.machinery}" placeholder="请输入machinery"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">conditions</label>
                    <div class="layui-input-block">
                        <input type="text" name="conditions" th:value="${param.conditions}" placeholder="请输入conditions"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">LOCCode</label>
                    <div class="layui-input-block">
                        <input type="text" name="LOCCode" th:value="${param.LOCCode}" placeholder="请输入LOCCode"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">COUNTRY</label>
                    <div class="layui-input-block">
                        <input type="text" name="COUNTRY" th:value="${param.COUNTRY}" placeholder="请输入COUNTRY"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">PORT</label>
                    <div class="layui-input-block">
                        <input type="text" name="PORT" th:value="${param.PORT}" placeholder="请输入PORT" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">DEPOT</label>
                    <div class="layui-input-block">
                        <input type="text" name="DEPOT" th:value="${param.DEPOT}" placeholder="请输入DEPOT"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">AREA</label>
                    <div class="layui-input-block">
                        <input type="text" name="AREA" th:value="${param.AREA}" placeholder="请输入AREA" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div id="hpn" style="display:none" class="layui-inline">
                    <div class="layui-inline">
                        <label class="layui-form-label">receiveref</label>
                        <div class="layui-input-block">
                            <input type="text" name="receiveref" th:value="${param.receiveref}"
                                   placeholder="请输入receiveref" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">ContainerSTATUS</label>
                        <div class="layui-input-block">
                            <input type="text" name="ContainerSTATUS" th:value="${param.containerstatus}"
                                   placeholder="请输入ContainerSTATUS" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">STAYDAYS</label>
                        <div class="layui-input-block">
                            <input type="text" name="STAYDAYS" th:value="${param.STAYDAYS}" placeholder="请输入STAYDAYS"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">owner</label>
                        <div class="layui-input-block">
                            <input type="text" name="owner" th:value="${param.owner}" placeholder="请输入owner"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">REMARKS</label>
                        <div class="layui-input-block">
                            <input type="text" name="REMARKS" th:value="${param.REMARKS}" placeholder="请输入REMARKS"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">GATE</label>
                        <div class="layui-input-block">
                            <input type="text" name="GATE" th:value="${param.GATE}" placeholder="请输入GATE"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">RELEASEDATE</label>
                        <div class="layui-input-block">
                            <input type="text" name="RELEASEDATE" th:value="${param.RELEASEDATE}"
                                   placeholder="请输入RELEASEDATE" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">RELEASEREF</label>
                        <div class="layui-input-block">
                            <input type="text" name="RELEASEREF" th:value="${param.RELEASEREF}"
                                   placeholder="请输入RELEASEREF" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">GATEOUT</label>
                        <div class="layui-input-block">
                            <input type="text" name="GATEOUT" th:value="${param.GATEOUT}" placeholder="请输入GATEOUT"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">TRUCK</label>
                        <div class="layui-input-block">
                            <input type="text" name="TRUCK" th:value="${param.TRUCK}" placeholder="请输入TRUCK"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">suggestedprice</label>
                        <div class="layui-input-block">
                            <input type="text" name="suggestedprice" th:value="${param.suggestedprice}"
                                   placeholder="请输入suggestedprice" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">invoiceDate</label>
                        <div class="layui-input-block">
                            <input type="text" name="invoiceDate" th:value="${param.invoiceDate}"
                                   placeholder="请输入invoiceDate" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">INVOICE</label>
                        <div class="layui-input-block">
                            <input type="text" name="INVOICE" th:value="${param.INVOICE}" placeholder="请输入INVOICE"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">CLIENT</label>
                        <div class="layui-input-block">
                            <input type="text" name="CLIENT" th:value="${param.CLIENT}" placeholder="请输入CLIENT"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">SALES</label>
                        <div class="layui-input-block">
                            <input type="text" name="SALES" th:value="${param.SALES}" placeholder="请输入SALES"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">paiddate</label>
                        <div class="layui-input-block">
                            <input type="text" name="paiddate" th:value="${param.paiddate}" placeholder="请输入paiddate"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">ONEBILL</label>
                        <div class="layui-input-block">
                            <input type="text" name="ONEBILL" th:value="${param.ONEBILL}" placeholder="请输入ONEBILL"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">ONEOFFHIREDATE</label>
                        <div class="layui-input-block">
                            <input type="text" name="ONEOFFHIREDATE" th:value="${param.ONEOFFHIREDATE}"
                                   placeholder="请输入ONEOFFHIREDATE" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">FreeDays</label>
                        <div class="layui-input-block">
                            <input type="text" name="FreeDays" th:value="${param.free_days}" placeholder="请输入FreeDays"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">Chargedays</label>
                        <div class="layui-input-block">
                            <input type="text" name="Chargedays" th:value="${param.Chargedays}"
                                   placeholder="请输入Chargedays" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">rate</label>
                        <div class="layui-input-block">
                            <input type="text" name="rate" th:value="${param.rate}" placeholder="请输入rate"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">storage</label>
                        <div class="layui-input-block">
                            <input type="text" name="storage" th:value="${param.storage}" placeholder="请输入storage"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">LOLO</label>
                        <div class="layui-input-block">
                            <input type="text" name="LOLO" th:value="${param.LOLO}" placeholder="请输入LOLO"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">GATESERVICE</label>
                        <div class="layui-input-block">
                            <input type="text" name="GATESERVICE" th:value="${param.GATESERVICE}"
                                   placeholder="请输入GATESERVICE" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">repaircost</label>
                        <div class="layui-input-block">
                            <input type="text" name="repaircost" th:value="${param.repaircost}"
                                   placeholder="请输入repaircost" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">transport</label>
                        <div class="layui-input-block">
                            <input type="text" name="transport" th:value="${param.transport}" placeholder="请输入transport"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">PTI</label>
                        <div class="layui-input-block">
                            <input type="text" name="PTI" th:value="${param.PTI}" placeholder="请输入PTI"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">TTL</label>
                        <div class="layui-input-block">
                            <input type="text" name="TTL" th:value="${param.TTL}" placeholder="请输入TTL"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">VAT</label>
                        <div class="layui-input-block">
                            <input type="text" name="VAT" th:value="${param.VAT}" placeholder="请输入VAT"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">grandttl</label>
                        <div class="layui-input-block">
                            <input type="text" name="grandttl" th:value="${param.grandttl}" placeholder="请输入grandttl"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">chargemonth</label>
                        <div class="layui-input-block">
                            <input type="text" name="chargemonth" th:value="${param.chargemonth}"
                                   placeholder="请输入chargemonth" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <a href="javascript:showdiv();" id="strHref" class="layui-btn">更多选项+</a>
                </div>
                <script type="text/javascript">
                    function showdiv() {
                        document.getElementById("hpn").style.display = "block";
                        document.getElementById("strHref").innerHTML = "收起-";
                        document.getElementById("strHref").href = "javascript:hidediv()";
                    }

                    function hidediv() {
                        document.getElementById("hpn").style.display = "none";
                        document.getElementById("strHref").innerHTML = "更多选项+";
                        document.getElementById("strHref").href = "javascript:showdiv()";
                    }
                </script>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加Equm总库存"
                        th:attr="data-url=@{/equm/inventorys/add}" data-size="auto">
                    <i class="fa fa-plus"></i> 添加
                </button>
                <!--<button type="button" class="import-btn" id="importExcel" th:attr="data-url=@{/equm/equm.inventorys/upload}">导入</button>-->
                <button type="button" class="layui-btn" id="importBtn">
                    <i class="layui-icon"></i>
                    上传文件
                </button>
                <!--<button type="button" class="layui-btn" id="importExcel">
                    <i class="layui-icon"></i>
                    导入
                </button>-->
                <div class="btn-group">
                    <button class="layui-btn">操作<span class="caret"></span></button>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a class="ajax-status" th:href="@{/equm/inventorys/status/ok}">启用</a></dd>
                        <dd><a class="ajax-status" th:href="@{/equm/inventorys/status/freezed}">冻结</a></dd>
                        <dd><a class="ajax-status" th:href="@{/equm/inventorys/status/delete}">删除</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>week</th>
                    <th>ReceivedDate</th>
                    <th>type</th>
                    <th>unitid</th>
                    <th>builtdate</th>
                    <th>machinery</th>
                    <th>conditions</th>
                    <th>LOCCode</th>
                    <th>COUNTRY</th>
                    <th>PORT</th>
                    <th>DEPOT</th>
                    <th>AREA</th>
                    <th>receiveref</th>
                    <th>ContainerSTATUS</th>
                    <th>STAYDAYS</th>
                    <th>owner</th>
                    <th>REMARKS</th>
                    <th>GATE</th>
                    <th>RELEASEDATE</th>
                    <th>RELEASEREF</th>
                    <th>GATEOUT</th>
                    <th>TRUCK</th>
                    <th>suggestedprice</th>
                    <th>invoiceDate</th>
                    <th>INVOICE</th>
                    <th>CLIENT</th>
                    <th>SALES</th>
                    <th>paiddate</th>
                    <th>ONEBILL</th>
                    <th>ONEOFFHIREDATE</th>
                    <th>FreeDays</th>
                    <th>Chargedays</th>
                    <th>rate</th>
                    <th>storage</th>
                    <th>LOLO</th>
                    <th>GATESERVICE</th>
                    <th>repaircost</th>
                    <th>transport</th>
                    <th>PTI</th>
                    <th>TTL</th>
                    <th>VAT</th>
                    <th>grandttl</th>
                    <th>chargemonth</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.week}">week</td>
                    <td th:text="${item.received_date}">ReceivedDate</td>
                    <td th:text="${item.type}">type</td>
                    <td th:text="${item.unitid}">unitid</td>
                    <td th:text="${item.builtdate}">builtdate</td>
                    <td th:text="${item.machinery}">machinery</td>
                    <td th:text="${item.conditions}">conditions</td>
                    <td th:text="${item.LOCCode}">LOCCode</td>
                    <td th:text="${item.COUNTRY}">COUNTRY</td>
                    <td th:text="${item.PORT}">PORT</td>
                    <td th:text="${item.DEPOT}">DEPOT</td>
                    <td th:text="${item.AREA}">AREA</td>
                    <td th:text="${item.receiveref}">receiveref</td>
                    <td th:text="${item.containerstatus}">ContainerSTATUS</td>
                    <td th:text="${item.STAYDAYS}">STAYDAYS</td>
                    <td th:text="${item.owner}">owner</td>
                    <td th:text="${item.REMARKS}">REMARKS</td>
                    <td th:text="${item.GATE}">GATE</td>
                    <td th:text="${item.RELEASEDATE}">RELEASEDATE</td>
                    <td th:text="${item.RELEASEREF}">RELEASEREF</td>
                    <td th:text="${item.GATEOUT}">GATEOUT</td>
                    <td th:text="${item.TRUCK}">TRUCK</td>
                    <td th:text="${item.suggestedprice}">suggestedprice</td>
                    <td th:text="${item.invoiceDate}">invoiceDate</td>
                    <td th:text="${item.INVOICE}">INVOICE</td>
                    <td th:text="${item.CLIENT}">CLIENT</td>
                    <td th:text="${item.SALES}">SALES</td>
                    <td th:text="${item.paiddate}">paiddate</td>
                    <td th:text="${item.ONEBILL}">ONEBILL</td>
                    <td th:text="${item.ONEOFFHIREDATE}">ONEOFFHIREDATE</td>
                    <td th:text="${item.free_days}">FreeDays</td>
                    <td th:text="${item.Chargedays}">Chargedays</td>
                    <td th:text="${item.rate}">rate</td>
                    <td th:text="${item.storage}">storage</td>
                    <td th:text="${item.LOLO}">LOLO</td>
                    <td th:text="${item.GATESERVICE}">GATESERVICE</td>
                    <td th:text="${item.repaircost}">repaircost</td>
                    <td th:text="${item.transport}">transport</td>
                    <td th:text="${item.PTI}">PTI</td>
                    <td th:text="${item.TTL}">TTL</td>
                    <td th:text="${item.VAT}">VAT</td>
                    <td th:text="${item.grandttl}">grandttl</td>
                    <td th:text="${item.chargemonth}">chargemonth</td>
                    <td>
                        <a class="open-popup" data-title="编辑Equm总库存"
                           th:attr="data-url=@{'/equm/inventorys/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                        <a class="open-popup" data-title="详细信息"
                           th:attr="data-url=@{'/equm/inventorys/detail/'+${item.id}}" data-size="800,600"
                           href="#">详细</a>
                        <a class="ajax-get" data-msg="您是否确认删除"
                           th:href="@{/equm/inventorys/status/delete(ids=${item.id})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>

<script th:replace="/common/template :: script"></script>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //指定允许上传的文件类型
        upload.render({
            elem: '#importBtn'
            , url: '/equm/inventorys/upload'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
    });
</script>
</body>
</html>